
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8" />
    <title>Popcorn Time</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Popcorn Time" />
    <meta name="keywords" content="Popcorn Time" />
    <meta name="author" content="J.A.S" />
    <meta name="MobileOptimized" content="320" />

    <!--Template style -->
    <link rel="stylesheet" type="text/css" href="../../Content/animate.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/dl-menu.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/nice-select.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/venobox.css" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/rs_slider/layers.css" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/rs_slider/navigation.css" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/rs_slider/settings.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/style.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/responsive.css" />
    <link rel="stylesheet" id="theme-color" type="text/css" href="../../Content/color/color2.css" />
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/png" href="../../Content/images/header/favicon.ico" />
</head>

<body>
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status">
            <img src="../../Content/images/header/horoscope.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!-- prs navigation Start -->
    <div class="prs_navigation_main_wrapper">
        <div class="container-fluid">
            <div id="search_open" class="gc_search_box">
                <input type="text" placeholder="Search here">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            <div class="prs_navi_left_main_wrapper">
                <div class="prs_logo_main_wrapper">
                    <a href="#">
                        <img src="../../Content/images/header/logo1.png" alt="logo" />
                    </a>
                </div>
                
            </div>

            
        </div>
    </div>
    <!-- prs navigation End -->

    @RenderBody()


    <!-- prs footer Wrapper Start -->
    <div class="prs_footer_main_section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_1">
                        <h2>Our Company</h2>
                        <ul>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;@Html.ActionLink("Contact Us", "Contact", "Home")
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">FAQs</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_2">
                        <h2>MOVIE EXPERIENCE</h2>
                        <ul>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="https://www.dolby.com/us/en/technologies/cinema/dolby-atmos.html">Dolby Atmos</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="https://www.imax.com/">IMAX</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="https://www.reald.com/">RealD 3D</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_3">
                        <h2>More</h2>
                        <ul>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">National Movie Festivals</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Interational Movie Festivals</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Movie Certifications</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Censorboard Informations</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_4">
                        <h2>App available on</h2>
                        <p>Download App and Get Free Movie Ticket !</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="../../Content/images/content/f1.jpg" alt="footer_img">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../Content/images/content/f2.jpg" alt="footer_img">
                                </a>
                            </li>
                        </ul>
                        <h5><span>$50</span> Payback on App Download</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prs_bottom_footer_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="prs_bottom_footer_cont_wrapper">
                        <p>
                            &copy 2018-2019 <a href="#">Popcorn Time</a> . All rights reserved - Design by <a href="#">J.A.S</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="prs_footer_social_wrapper">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prs footer Wrapper End -->
    <!--main js file start-->
    <script src="../../Scripts/jquery_min.js"></script>
    <script src="../../Scripts/modernizr.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/owl.carousel.js"></script>
    <script src="../../Scripts/jquery.dlmenu.js"></script>
    <script src="../../Scripts/jquery.sticky.js"></script>
    <script src="../../Scripts/jquery.nice-select.min.js"></script>
    <script src="../../Scripts/jquery.magnific-popup.js"></script>
    <script src="../../Scripts/jquery.bxslider.min.js"></script>
    <script src="../../Scripts/venobox.min.js"></script>
    <script src="../../Scripts/smothscroll_part1.js"></script>
    <script src="../../Scripts/smothscroll_part2.js"></script>
    <script src="../../Scripts/rs_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="../../Scripts/rs_slider/jquery.themepunch.tools.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.addon.snow.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.actions.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.carousel.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.kenburn.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.migration.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.navigation.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.parallax.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.slideanims.min.js"></script>
    <script src="../../Scripts/rs_slider/revolution.extension.video.min.js"></script>
    <script src="../../Scripts/custom.js"></script>
    <!--main js file end-->
</body>

</html>
